body {
    background: linear-gradient(77.5deg, #00FFFF 18.67%, #00FFCA 82.33%);
}
/* #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
} */
.text-uppercase {
    text-transform: uppercase;
}
.card {
    margin: 10px;
}